* {
    box-sizing: border-box;
}

.topo {
    background: #cf2b2b;
    width: 100%;
    height: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.topo>div {
    padding-top: 12px;
    padding-left: 22px;
}

.topo>div p:first-child {
    margin-bottom: 6px;
    font-family: 'Righteous', cursive;
    color: #fff;
    font-size: 44px;
}

.topo>div p:last-child {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
}

.concluir-pedido {
    width: 100%;
    height: 92px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.concluir-pedido button {
    width: 364px;
    height: 61px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 15px 25px 20px 25px;
    padding: 6px 30px;
    border-radius: 50px;
    background: #cbcbcb;
}

.habilitado button {
    background: #32B72F;
}

.conteudo {
    margin: 92px 0px;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    padding-top: 7px;
}

.category>p {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    padding-bottom: 17px;
    color: #333;
}

.category {
    padding-top: 27px;
    padding-left: 19px;
    padding-bottom: 16px;
}

.cards-container {
    display: flex;
    overflow-x: scroll;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.card {
    width: 172px;
    height: 216px;
    background: #fff;
    border-radius: 9px;
    margin-right: 16px;
    position: relative;
}

.card ion-icon {
    color: #fff;
}

.card img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 18px 14px 8px 14px;
}

.item-title {
    padding-left: 15px;
    font-family: 'roboto', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.description {
    margin-top: 8px;
    padding-left: 15px;
    font-family: 'roboto', sans-serif;
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.price {
    margin-top: 8px;
    padding-left: 15px;
    font-family: 'roboto', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    bottom: 14px;
}

.fade {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.90);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.confirmar {
    margin: 0px 19px;
    width: 377px;
    height: 353px;
    background: #50d074;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    flex-direction: column;
}

.confirmar>p:first-child {
    color: #fff;
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.confirmar>p:last-child {
    color: #fff;
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cart-item {
    padding: 0px 26px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
}

.total {
    font-weight: bold;
    letter-spacing: 0.018em;
    margin-bottom: 24px;
}

.confirmar>button {
    width: 333px;
    height: 52px;
    background: #fff;
    color: #50d074;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.018em;
    border-radius: 100px;
    border-style: none;
    outline-offset: none;
}

.confirmar>button:last-child {
    width: 333px;
    height: 52px;
    background: #50d074;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.018em;
    border-style: none;
    outline-offset: none;
    margin-bottom: 4px;
}

.selected {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selected ion-icon {
    position: absolute;
    bottom: 12px;
    right: 14px;
    color: #32B72F;
    font-size: 22px;
}